<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <div style="text-align: center; margin-top: 20px">
        <h1 id="main-title">Bronx Caseloads</h1>
      </div>
      <div class="nurse-box">
          <% bknurses.forEach(n => { %>
            <div class="inner-box">
                <p class="caseloads-nurses">Nurse <%= n.first_name %></p>
                <div class="patient-list">
                  <% bkpatients.forEach(p => { %>
                    <% if (p.nurse_id == n.nurse_id) { %>
                      <p class="caseloads-patients"><a href="/patients/cases/<%= p._id %>" class="pt-tag"><%= p.last_name %>, <%= p.first_name %></a></p>
                    <% } %>
                  <% }) %>
                </div>
            </div>
          <% }) %>
      </div>
        
    </main>
    <footer style="position: relative; bottom: -30px; right: auto; left: auto">
      <div class="nav-bar">
        <a href="/" style="width: 30px"
          ><img
            src="/BrightPath_logo.png"
            alt="Bright Path Logo & Name"
            style="
              width: 30px;
              margin-top: -5px;
              box-shadow: #204344 1px 1px;
              flex-grow: 0;
            "
          /><span style="color: whitesmoke; margin-top: 2px"
            >Copyright &copy BrightPath 1980</span
          ></a
        >
      </div>
    </footer>
  </body>
</html>